In [1]:
import pandas as pd

In [2]:
month_m = pd.read_excel('../../data/month_movie_SUM.xls', encoding='utf-8')
person_m = pd.read_excel('../../data/person_movie_2.xlsx', encoding='utf-8')

In [11]:
person_m

          1월       2월       3월
10대   751536  2451553  1581535
20대  5121523  2596262  1745255
30대  1502535   595159   745695
40대   268451   516183   159235

In [9]:
concat_m = pd.concat([month_m, person_m], axis=1)

In [10]:
concat_m

       영화등급    1월    2월    3월    소계         1월         2월         3월
0     전체관람가  11.0  12.0   8.0  31.0        NaN        NaN        NaN
1    12세관람가  14.0  10.0   7.0  31.0        NaN        NaN        NaN
2    15세관람가  28.0  30.0  26.0  84.0        NaN        NaN        NaN
3        합계  53.0  52.0  41.0   NaN        NaN        NaN        NaN
10대     NaN   NaN   NaN   NaN   NaN   751536.0  2451553.0  1581535.0
20대     NaN   NaN   NaN   NaN   NaN  5121523.0  2596262.0  1745255.0
30대     NaN   NaN   NaN   NaN   NaN  1502535.0   595159.0   745695.0
40대     NaN   NaN   NaN   NaN   NaN   268451.0   516183.0   159235.0

In [ ]:
del merged_m['소계']

In [ ]:
merged_m

In [ ]:
merged_m.loc['전체관람가']